<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Login Form</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>
<body>
<div class="login">
    <h1 class="text-center">LOGIN</h1>
    <div class="links text-center">
        <a href="{{ url_for('login') }}" class="active">LOGIN</a>
        <a href="{{ url_for('register') }}">REGISTER</a>
    </div>
    <form action="" method="post" class="border p-4 rounded shadow-sm">
        <div class="form-group">
            <label for="username">
                <i class="fa fa-user"></i>
            </label>
            <input type="text" class="form-control" name="username" placeholder="Username" id="username" required>
        </div>
        <div class="form-group">
            <label for="password">
                <i class="fa fa-lock"></i>
            </label>
            <input type="password" class="form-control" name="password" placeholder="Password" id="password" required>
        </div>
        <div class="msg text-danger">{{ msg }}</div>
        <button type="submit" class="btn btn-primary btn-block">Login</button>
    </form>
</div>
</body>
</html>
